body{
  background-color: #212121;
}

.app-container{
  display: flex;
  max-width: 1200px;
  margin: auto;
  position: relative;
}

.app-content{
  width: 50%;
}

.app-phone {
  width: 50%;
}

.app-content{
  margin-top: 300px;
}
.app-content div{
  min-height: 500px;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  color: white;
}

.phone-container{
  position: fixed;
  top: 200px;
  width: 272px;
  height: 480px;
  border: 1px solid black;
  margin: 10px;
  box-shadow: rgb(250 250 255 / 16%) 0px -5px 6px 0px inset, rgb(38 37 37 / 24%) 4px 6px 11px 1px inset;
  border-radius: 46px;
  padding: 16px 14px;
}

.display-off{
  color: #212121 !important;
}

.phone-image-container{
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
}
